// $segment-light: #0cb3f0;
// $segment-dark: #2b3663;
// $segment-hover: #b3dbe9;

// $text-color: #636262;
// $text-underscore: #85deff;

$accent-light: #0cb3f0;
$accent-hover: #078bbb;
$accent-dark: #2b3663;

$text-dark: #1f1f1f;
$text-light: #636262;
$text-lighter: #3f3f3f;
$text-lighten: rgba(#3f3f3f, 0.75);
$text-underline: #85deff;

$line: #bdbdbd;
$line-hover: #7f86a1;
